.wrapper {
    display: flex;
    height: 100vh;
    
}

.main {
    flex: 1;
    overflow: auto;
    padding: 32px 36px;
    background-color: #f4f6fb;
    display: flex;
    justify-content: center;
}