.sidebar {
    background-color: white;
    color: var(--azul-marinho);
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    border-right: 1px solid var(--azul-marinho-clareado);
}

.open {
    width: 260px;
}

.closed {
    width: 80px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 140px;
    flex-shrink: 0;
}


.Divisor {
    border: none;
    border-top: 1px solid var(--azul-marinho);
    opacity: 40%;
    margin: 0 10px;
    margin-bottom: 4rem;
}

.menu-nav {
    flex: 1;
    margin-top: 0;
    overflow-y: auto; 
    overflow-x: hidden;
    padding-bottom: 20px;
}
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-item {
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 0 2rem 2rem 0;
    transition: all 0.2s ease;
    text-decoration: none;
}

.menu-item:hover {
    background-color: var(--verde-agua);
    color: #fff;
}

.menu-text {
    font-size: 16px;
    font-weight: 500;
}
.logo-btn{
    background-color: transparent;
    border:none;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.active {
    background-color: var(--azul-marinho);
    color: #fff;
    box-shadow: 0 8px 18px rgba(0, 74, 173, 0.18);
}

.active:hover {
    background-color: var(--azul-marinho);
    color: #fff;
}
